<!DOCTYPE html>
<html>
  <head>
    <title>Form</title>
    <link rel="stylesheet" href="/form.css">
  </head>
  <body>
    <%- include('ui/nav.ejs') %>
    <h1><%= message %></h1>
    <form action= <%= route %> method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="userName"   value='<%= user.name %>' required>
        <label for="profile">Profile:</label>
        <input type="text" id="profile" name="userProfile"  value='<%= user.profilePic %>'    required>
        <label for="techStack">Tech Stack:</label>
        <input type="text" id="techStack" name="userTechStack"   value='<%= user.techStack %>' required>
       <button type="submit">Submit</button>
    </form>
  </body>
</html>